extends layout

block content
  h1= title
  p Angular test {{ 1 + 1 }} = 2
  :markdown
    *You promised me poems* - Tricky
  section
    each poem in poems
        h2 #{poem.name}
        pre #{poem.text}
